{% extends "base.html" %}
{% block content %}
<h2><i class="lucide lucide-pie-chart"></i> Asset Overview</h2>
<div class="row">
  <div class="col-md-6">
    <canvas id="deptChart"></canvas>
  </div>
  <div class="col-md-6">
    <canvas id="conditionChart"></canvas>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script>
  renderCharts({{ dept_data|tojson }}, {{ condition_data|tojson }});
</script>
{% endblock %}

